body{
	background:#ccc url(../images/sos.png) repeat;
	font-size: 87.5%;
	font-family:arial, sans-serif;
	color:#666666;
	line-height:1.7em;
	text-align: left;
}
a{
	text-decoration: none;
	color:blue;
}
a:hover{
	color: darkgrey;
}
h2{
	color:black;
}
.clr{
	clear: both;
}

/* creating a fluid layout -- use % insted of px for width */
#container{
	width:80%;
	margin:0 auto;
	overflow: auto;
	clear: both;
}
.main-header #logo{
	width:45%;
	margin:10px 0;
}
.main-header .main-nav{
	background:#882433; 
	height: 40px;
	border-radius: 5px;
	border: 1px solid grey; 
}
.main-header .main-nav ul{
	list-style: none;
	margin: 0;
	padding: 0; 
}
.main-header .main-nav li{
	color: #ffffff;
	display: inline;
	float: left;
	margin-right: 3px;
}
.main-header .main-nav li a{
	color: #ffffff;
	display: inline-block;
	padding: 10px 20px;
	height: 20px;
}
.main-header .main-nav li a:hover,.main-header .main-nav li a.active{
	background-color: #ccc;
	color: black;
	border-radius: 5px;
}
#content{
	width: 70%;
	float: left;
	overflow: auto;
}
#content article{
	border-radius: 5px;
	overflow: auto;
	background-color: #ffffff;
	padding: 10px 20px;
	margin-top: 10px;
}
#content article span{
	font-style: italic;
	color: #000; 
}
#sidebar{
	width:30%;
	float:left;
}
#sidebar .block{
	border-radius: 5px;
	overflow: auto;
	background-color: #ffffff;
	padding: 10px 15px;
	margin: 10px 0 0 10px;
}

footer{
	background-color: #882433;
	height: 40px;
	border:2px solid #ccc;
	margin-top: 10px;
	border-radius: 5px;
	padding: 20px 0;
}
footer p{
	color: #fff;
	margin: 0;
	padding: 10px 0 0 0;
	text-align: center;
}

/* starting with media queries */

/* tablet/ipads (potrait & landscape) - 768px-980px */
@media only screen and (min-width: 768px) and (max-width: 980px){
	#container{
		width:90%;
	}
	.main-header #logo{
		margin:0 auto;
		display: block;
		width:65%;
	}
	#content{
		width:100%;
		float:none;
	}
	#sidebar{
		width:100%;
		float:none;
	}
	#sidebar .block{
		margin-left:0;
	}
}

/* Smaller Tablets (potrait & landscape) */
@media only screen and (min-width: 569px) and (max-width: 767px){
	#container{
		width:95%;
	}
	.main-header #logo{
		margin:0 auto;
		display: block;
		width:55%;
	}
	.main-header .main-nav{
		background:#882433; 
		height: auto;
		display: block;
		width: 99%;
		overflow: auto;
	}
	.main-header .main-nav ul{
		padding: 2% 1%;
		text-align: center;
		width: 98%;
	}
	.main-header .main-nav li{
		display: block;
		float: none;
		width: 100%;
		margin-right: 0px;
		border bottom: 1px solid black;
	}
	.main-header .main-nav li a{
		margin-bottom: 2px;
		text-align: center;
	}
	.main-header .main-nav li a:hover,.main-header .main-nav li a.active{
		display: block;
	}
	#content{
		width:100%;
		float:none;
	}
	#sidebar{
		width:100%;
		float:none;
	}
	#sidebar .block{
		margin-left:0;
	}

}

/* Smartphones */
@media only screen and (min-width: 240px) and (max-width: 568px){
	#container{
		width:95%;
	}
	.main-header #logo{
		margin:0 auto;
		display: block;
		width:65%;
	}
	.main-header .main-nav{
		background:#882433; 
		height: auto;
		display: block;
		width: 99%;
		overflow: auto;
	}
	.main-header .main-nav ul{
		padding: 2% 1%;
		text-align: center;
		width: 98%;
	}
	.main-header .main-nav li{
		display: block;
		float: none;
		width: 100%;
		margin-right: 0px;
		border bottom: 1px solid black;
	}
	.main-header .main-nav li a{
		margin-bottom: 2px;
		text-align: center;
	}
	.main-header .main-nav li a:hover,.main-header .main-nav li a.active{
		display: block;
	}
	#content{
		width:100%;
		float:none;
	}
	#sidebar{
		width:100%;
		float:none;
	}
	#sidebar .block{
		margin-left:0;
	}

}



